page-location-search-modal {
  .closebtn {
    float: left;
  }
  .text-input-md {
    margin: 11px 8px !important;
  }
  .title {
    float: left;
    padding: 10px;
  }
}
.modal-wrapper {
  width: 100%;
  top: 0%; 
  height: 100%;
  z-index: 10;
  position: absolute;
  background: transparent;
  border-radius: 0px 0px 0 0; 
  -webkit-box-shadow: 0 -2px 25px 0 rgba(61, 60, 59, 0.3);
  box-shadow: 0 -2px 25px 0 rgba(61, 60, 59, 0.3);
}