<ion-header>
  <ion-navbar>
    <button ion-button icon-only (click)="closeModal()" style="float: right;">
      <ion-icon name="close" class="closebtn"></ion-icon>
    </button>
    <ion-title>{{'select_location' | translate }}</ion-title>
  </ion-navbar>
  <ion-input placeholder="{{'type_to_filter' | translate}}" style="float: left;
    margin-top: 18px; width: 94%; border: solid 1px #ccc; margin: 3%; border-radius: 7px;" type="text"
    (keyup)="updateFilter($event)" show-cancel="true" [(ngModel)]="search_order"></ion-input>
</ion-header>

<ion-content>
  <ion-item *ngFor="let data of listData">
    <ion-label>{{data.location}}</ion-label>
    <ion-checkbox color="dark" checked="{{data.checked}}" (click)="selectLocation(data)"></ion-checkbox>
  </ion-item>
</ion-content>