<ion-content padding>
  <div id="recaptcha-container"></div>
  <ion-list>
    <ion-row class="row-header">
      <div class="title">NEERAW</div>
    </ion-row>
    <ion-row style="background-color: black;">
      <ion-item>
        <ion-label floating>{{'mobile_number' | translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="login_id"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button class="login-button" (click)="login()">{{'login' | translate}}</button>
    </ion-row>
    <ion-row>
      <ion-label class="register" (click)="register()">{{'New User? Register here' | translate}}</ion-label>
    </ion-row>
  </ion-list>
  <div class="footer">
    Powered by Anaka Tech
  </div>
</ion-content>