page-login {
  .login {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .logo {
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .loginBox {
    margin: auto;
    margin-top: 70px !important;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }

  .line {
    margin: 8px;
    height: 60%;
    border-right: 1px solid #666;
  }

  .username-input,
  .password-input {
    width: 100%;
    margin: auto;
  }

  .login-button {
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 15px;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: #102a47;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    text-align: center;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #102a47;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }

  .row-header {
    height: 184px;
    width: 186px;
    background-color: #102a47;
    margin: 45px auto 85px auto;
    border-radius: 50%;
  }

  .title {
    top: 0;
    bottom: 0;
    left: auto;
    color: #ffffff;
    right: auto;
    margin: auto;
    font-family: Arial;
  }

  .register {
    margin: auto;
    margin-bottom: 15px;
    color: #102a47;
    font-family: Roboto;
    font-size: 11px;
    line-height: 25px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
  }
}
