<ion-content padding>
  <div id="recaptcha-container"></div>
  <ion-list class="login">
    <ion-row class="loginBox">
      <ion-col col-12>
        <ion-input class="username-input" type="text" [(ngModel)]="name" placeholder="{{'name'| translate}}">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="loginBox">
      <ion-col col-12>
        <ion-input class="username-input" type="number" [(ngModel)]="mobile_number"
          placeholder="{{'mobile_number'| translate}}"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="loginBox">
      <div class="select-location" (click)="selectLocation()">
        <div *ngIf="location==''">{{'set_your_location' | translate}}</div>
        <div *ngIf="location!=''">{{location}}</div>
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="loginBox">
      <ion-col col-12>
        <ion-textarea class="username-input" type="text" [(ngModel)]="address" placeholder="{{'address'| translate}}">
        </ion-textarea>
      </ion-col>
    </ion-row>


    <ion-row>
      <button ion-button class="login-button" (click)="register()">{{'Register' | translate}}</button>
    </ion-row>
    <ion-row>
      <button ion-button class="login-button" (click)="back()">{{'Go Back' | translate}}</button>
    </ion-row>
  </ion-list>
</ion-content>