page-register {
  ion-content {
    background: linear-gradient(#c7d3dc, #5b798e);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .username-input {
    width: 100%;
    margin: auto;
  }

  .loginBox {
    margin: auto;
    margin-top: 70px !important;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }

  .login-button {
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 15px;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: #102a47;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    text-align: center;
  }

  .select-location {
    height: 56px;
    width: 100%;
    padding: 5px;
    display: flex;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto;
    font-size: 11px;

    * {
      padding: 5px 5px;
      font-size: 14px;
    }
    *:nth-child(1) {
      flex-grow: 1;
    }
  }
}
