<ion-header>
  <ion-navbar>
    <ion-title>{{'change_language' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-label>{{'select_language' | translate}}</ion-label>
        <ion-select [(ngModel)]="selectLanguage">
          <ion-option value="en">ENGLISH</ion-option>
          <ion-option value="ka">ಕನ್ನಡ</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="button-wrapper">
      <button (click)="changeLanguage()" ion-button class="go-button">{{'change' | translate}}</button>
    </div>
  </ion-list>
</ion-content>