page-changelanguage {
  .scroll-content {
    background: url("../assets/bgs/app_bg1.png");
    background-size: 100% 100%;
  }

  .list .item {
    background: transparent !important;
  }

  .list {
    background: transparent !important;
  }

  .text-input {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
  }

  .item-inner .label {
    color: #fff;
    font-size: 16px;
  }

  .item-inner {
    border-bottom: none !important;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .item-input-has-focus .label {
    color: #fff !important;
  }

  .button-wrapper {
    text-align: center;
    .go-button {
      height: 30px;
      width: 145px;
      border-radius: 30px;
      color: rgba(254, 214, 0, 1) !important;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
      background-color: rgba(71, 37, 14, 1) !important;
      font-family: Roboto;
      font-size: 11px;
      font-weight: bold;
      line-height: 13px;
      text-align: center;
    }
  }

  .next-button {
    background: #46250e !important;
  }

  .list .item .input-wrapper {
    background: #fff !important;
    padding: 0 10px;
    border-radius: 5px;
  }

  .list .item .label {
    color: #999 !important;
  }
}
