<!--
  Generated template for the SelectLangPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list>
    <ion-row class="row-header">
      <img src="./assets/mark.png" class="logo" />
    </ion-row>

    <div class="buttons">
      <p>SELECT LANGUAGE</p>
      <button ion-button class="lang1" (click)="setLangAs('en')">ENGLISH</button>
      <button ion-button class="lang2" (click)="setLangAs('ka')">ಕನ್ನಡ</button>
    </div>
  </ion-list>
</ion-content>