page-select-lang {
  ion-content {
    background-image: url("../assets/images/login/login_BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .row-header {
    height: 184px;
    width: 186px;
    background-color: white;
    margin: 45px auto 85px auto;
    border-radius: 50%;
  }
  .logo {
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .buttons {
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
  }
  p {
    text-align: center;
    color: white;
  }
  button {
    display: block;
  }
  .lang1 {
    height: 40px;
    width: 215px;
    border-radius: 30px;
    background-color: #50e3c2 !important;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    color: #294a03;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px !important;
    margin: 0 auto;
  }
  .lang2 {
    height: 40px;
    width: 215px;
    border-radius: 30px;
    background-color: #ffd700 !important;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    color: #417505;
    font-family: "Roboto";
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px !important;
    margin: 0 auto;
  }
  .lang3 {
    height: 40px;
    width: 215px;
    border-radius: 30px;
    background-color: #47250e !important;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: "Kohinoor Devanagari";
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px !important;
    margin: 0 auto;
  }
}
