page-home {
  /*Menu Background*/
  .toolbar-background {
    background-color: #102a47;
  }

  /*Menu Title Colour*/
  .toolbar-title-md {
    color: #ffffff !important;
  }

  /*Menu Icon Colour*/
  .menu-icon {
    color: #ffffff !important;
  }

  /* Slider Height*/
  ion-slides {
    height: 15%;
  }

  /* Slider Image*/
  .swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 10% 5%;
  }

  /*Slider point colour*/
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }

  /*Vertical Scroll*/
  .scroll-horizontal {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;

    ion-card {
      width: 70%;
      display: inline-block;
      ion-card-content {
        padding: 0px !important;
      }
    }

    .label-md {
      margin: 0;
    }
    .preco {
      font-weight: 900;
    }
  }

  /*Remove Image padding*/
  [col-8],
  [col-4],
  [col-3],
  .grid {
    padding: 0px;
  }

  $default: #f53d3d;
  .item-ribbon {
    background-color: #fff;
    position: relative;
    filter: none;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 2;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;
      span {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $default;
        position: absolute;
        top: 19px;
        right: -21px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid $default;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid $default;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
      }
    }
  }

  /*Product Card*/
  ion-col {
    .equip-class {
      height: 200px;
      border-radius: 5px;
      background-color: #102a47;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12);
      margin: 5px;
      .image {
        height: 150px;
        width: 100%;
      }
      .name {
        position: relative;
        padding-left: 14px;
        margin-top: 5px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        line-height: 21px;
      }
      .desc {
        margin-left: 14px;
        color: rgba(155, 155, 155, 1);
        font-family: Roboto;
        font-size: 10px;
        line-height: 13px;
      }
    }
  }
}
