<!-- <ion-header class="menu">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menu-icon" name="menu"></ion-icon>
    </button>
    <ion-title class="navbar-items">BONJOUR ! {{name}}</ion-title>
    <button right ion-button icon-only menuToggle="right">
      <ion-icon class="menu-icon" name="home"></ion-icon>
    </button>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon class="menu-icon" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Welcome !</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon class="menu-icon" name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">
    <h2>Offers</h2>
  </ion-item-divider>

  <!-- <ion-slides pager autoplay="2500" class="round">
    <ion-slide *ngFor="let banner of banners" class="text-center slider-item"
      [ngStyle]="{'background-image': 'url(' + banner.image +')'}">
    </ion-slide>
  </ion-slides> -->

  <ion-slides *ngIf="banners && banners.length" autoplay="5000" class="slideroption" pager="true" loop="true"
    speed="300" effect="fade">
    <ion-slide *ngFor="let banner of banners">
      <img src="{{banner.image}}" />
    </ion-slide>
  </ion-slides>

  <!-- <ion-slides autoplay="2500" pager="true">
    <ion-slide *ngFor="let banner of banners">
      <div class="banner">
        <img src="{{banner.image}}">
      </div>  
    </ion-slide>
  </ion-slides> -->

  <ion-item-divider color="light">
    <h2>Recent Orders</h2>
  </ion-item-divider>

  <div class="scroll-horizontal">
    <ion-card *ngFor="let i of subscriptions">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-img [src]="i.product.image" style="width: 100%;height: 100%;"> </ion-img>
            </ion-col>
            <ion-col col-9>
              <ion-item>
                <h2>{{ i.product.name }}</h2>
                <p class="preco"> &#x20b9; {{ i.product.price }}</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-item-divider color="light">
    <h2>Products</h2>
  </ion-item-divider>

  <ion-list>
    <ion-row>
      <ion-col col-6 *ngFor="let product of products">
        <div class="equip-class" (click)="gotoProductDetail(product)">
          <ion-grid>
            <ion-row>
              <ion-thumbnail item-left class="item-ribbon">
                <span class="ribbon sale">
                  <span>40% off</span>
                </span>
                <img class="image" src="{{ product.image }}">
              </ion-thumbnail>
            </ion-row>
            <ion-row>
              <ion-col col-8>
                <div class="name">
                  {{ product.name }}
                </div>
                <div class="desc">
                  &#x20b9; {{ product.price }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>