page-settings {
  .list {
    margin-bottom: 0 !important;
  }

  .scroll-content {
    background: url("../assets/bgs/app_bg1.png");
    background-size: 100% 100%;
  }

  .item {
    background: transparent !important;
    border-bottom: solid 1px #fff !important;
  }

  .item .label {
    color: #fff !important;
  }
}
