<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'settings' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list (click)="openchangelanguage()">
    <ion-item>
      <ion-icon name="globe"></ion-icon>
      {{ 'change_language' | translate }}
    </ion-item>
  </ion-list>
</ion-content>