<ion-header class="menu">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menu-icon" name="menu"></ion-icon>
    </button>
    <ion-title class="navbar-items">My Subscriptions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-row *ngFor="let row of rows">
      <div class="product">
        <ion-row style="padding-top: 20px;">
          <ion-col col-3>
            <img class="image" src="{{row.product.image}}" />
          </ion-col>
          <ion-col class="text-col" col-9>
            <div class="title">{{row.product.name}} ( 1 {{ row.product.priceby }} )</div>
            <div class="price">&#x20b9;{{row.product.price}}</div>
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="card">
        <ion-col col-6>
          <div class="value">Total number of deliveries</div>
        </ion-col>
        <ion-col col-6>
          <div class="value">{{ row.quantity}}</div>
        </ion-col>
        <ion-col col-6>
          <div class="value">Delivery frequency</div>
        </ion-col>
        <ion-col col-6>
          <div class="value">{{ row.delivery_frequent }}</div>
        </ion-col>
      </ion-row>

      <ion-col col-12 class="button-wrapper">
        <button *ngIf="row.paused==false" (click)="pauseSubscription(row,true)" ion-button
          class="go-button">Pause</button>
        <button *ngIf="row.paused==true" (click)="pauseSubscription(row,false)" ion-button
          class="go-button">Subscribe</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <div style="text-align: center; font-size: 18px; margin-top: 20px;" *ngIf="rows.length==0&&!Isloading">
    {{'no_orders' | translate}}
  </div>
</ion-content>