page-my-subscription {
  .toolbar-background {
    background-color: #102a47;
  }

  .toolbar-title-md {
    color: #ffffff !important;
  }

  .menu-icon {
    color: #ffffff !important;
  }

  .bar-buttons {
    .bar-button-menutoggle {
      color: rgba(123, 75, 44, 1);
    }
  }

  .bar-button-default-md {
    color: #ffffff;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    ion-label {
      color: #4a7238;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .job-title {
    position: relative;
    color: rgba(74, 74, 74, 1);
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    padding: 0px !important;
    width: 100%;
    .rectangle {
      height: 25px;
      width: 4px;
      background-color: #ffd700;
    }
  }

  .content {
    padding: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .customer-name-label {
      color: rgba(155, 155, 155, 1);
      font-family: Roboto;
      font-size: 10px;
      line-height: 13px;
    }
    .customer-name {
      color: rgba(74, 74, 74, 1);
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin-bottom: 10px;
    }
    .customer-phone-label {
      height: 13px;
      color: rgba(155, 155, 155, 1);
      font-family: Roboto;
      font-size: 10px;
      line-height: 13px;
    }
    .customer-phone {
      height: 14px;
      color: rgba(74, 74, 74, 1);
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin-bottom: 10px;
    }
    .start-time-label {
      color: rgba(155, 155, 155, 1);
      font-family: Roboto;
      font-size: 10px;
      line-height: 13px;
    }
    .start-time {
      height: 14px;
      color: rgba(74, 74, 74, 1);
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
  }
  ion-row {
    background-color: white;
    margin-bottom: 10px !important;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12);
    padding-left: 0 !important;
    padding-top: 20px;
  }

  .button-wrapper {
    text-align: center;
    margin-bottom: 20px;
    .go-button {
      height: 30px;
      width: 175px;
      border-radius: 30px;
      background-color: rgba(254, 214, 0, 1) !important;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
      color: #1d450b !important;
      font-family: Roboto;
      font-size: 11px;
      font-weight: bold;
      line-height: 13px;
      text-align: center;
    }
  }

  .map {
    padding: 0px;
    width: 94px;
    .right {
      font-family: Roboto;
      font-size: 12px;
      margin-bottom: 10px;
      text-align: center;
      font-style: italic;
    }
    .map_layout {
      height: 106px;
      width: 94px;
      margin-right: 10px;
    }
  }
}
