// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//*************** for sidemenu  ***************//
// Material Design Sidemenu
@import "../theme/animations";

#menu-material {
  .list-box {
    margin-top: 190px;
  }
  .menu-header {
    padding: 5px 15px;
    background-image: url("../assets/md-bg6.jpg");
    background-size: cover;
    background-color: color($colors, blue2);
    color: white;
    .name {
      font-weight: 400;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: 0.5em;
      height: 12vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }
  h3,
  .label {
    color: #616161;
    font-weight: 400;
  }
  ion-icon {
    color: #616161;
  }
}
#menu-ios {
  .menu-header {
    text-align: center;
    margin: auto;
    // width: 50%;
    // margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    .name {
      margin-top: 8px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: 0.5em;
      height: 15vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }
}

#menu-pwa {
  .list-box {
    margin-top: 10px;
  }
  .menu-header {
    text-align: center;
    margin: auto;
    // width: 50%;
    // margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-size: cover;
    background-color: color($colors, ios-gray);
    color: #ffffff;
    .name {
      margin-top: 8px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: 0.5em;
      height: 15vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }

  h3,
  .label {
    color: #616161;
    font-weight: 400;
  }
  ion-icon {
    color: #616161;
  }
}
.sub-menu .item-inner {
  padding-left: 56px;
}
.round {
  border-radius: 50%;
}
