page-home-detail {
  .container {
    background: linear-gradient(#c7d3dc, #5b798e) !important;
    .heading {
      font-family: Roboto;
      font-size: 16px;
      line-height: 21px;
      white-space: normal;
      color: #102a47 !important;
    }
  }

  .scroll-content {
    padding: 0px !important;
  }

  .toolbar-background {
    background-color: #102a47 !important;
  }

  .bar-button-default-md {
    color: #ffffff !important;
  }

  [col-4] {
    text-align: center;
    margin: auto;
  }

  .job-details {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 0px !important;
  }
  .card {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 6px 0 #e4e4ea;
  }
  .key {
    color: #9b9b9b;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 8px;
  }
  .value {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    ion-label {
      color: #ffffff;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .qty {
    color: #102a47 !important;
    text-align: center;
  }

  .product {
    height: 150px;
    width: 100%;
    color: white;
    background-color: #102a47 !important;
    .image {
      width: 80px;
      height: 80px;
      margin-left: 20%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    .title {
      color: rgba(255, 255, 255, 1);
      font-family: Roboto;
      font-size: 28px;
      margin-bottom: 5px;
    }
    .price {
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
    }
  }

  .text-col {
    padding-left: 5%;
  }

  [col-12] {
    padding: 0px !important;
  }

  .button-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    .go-button {
      height: 30px;
      width: 145px;
      border-radius: 30px;
      background-color: rgba(254, 214, 0, 1) !important;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
      color: #1d450b !important;
      font-family: Roboto;
      font-size: 11px;
      font-weight: bold;
      line-height: 13px;
      text-align: center;
    }
  }
}
