<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menu-icon" name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <div class="navbar-items">
      <ion-label>{{ product.name }}</ion-label>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="container" padding>
  <div class="product">
    <ion-row style="padding-top: 30px;">
      <ion-col col-3>
        <img class="image" src="{{product.image}}" />
      </ion-col>
      <ion-col class="text-col" col-9>
        <div class="title">{{product.name}} ( 1 {{ product.priceby }} )</div>
        <div class="price">&#x20b9;{{product.price}}</div>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row class="card">
      <ion-label class="heading">Quantity per delivery</ion-label>
      <ion-col col-12>
        <div class="key">How many units do you want per delivery?</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">{{ quantity }} {{product.priceby}}</div>
        <div class="value">per delivery</div>
      </ion-col>
      <ion-col col-6>
        <ion-row class="qty_btn">
          <ion-col (click)="decreaseQty(quantity)" col-4>
            <button style="font-size: larger;" ion-button clear>-</button>
          </ion-col>
          <ion-col col-4>
            <span class="qty">{{ quantity }} </span>
          </ion-col>
          <ion-col (click)="increaseQty(quantity)" col-4>
            <button ion-button clear>+</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="card">
      <ion-label class="heading">Total Subscription Period</ion-label>
      <ion-col col-12>
        <div class="key">How many subscriptions you want?</div>
      </ion-col>

      <ion-row inset radio-group [(ngModel)]="subscription_period">
        <ion-col col-6>
          <ion-item>
            <ion-label>1 month</ion-label>
            <ion-radio slot="start" value="1 month"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>3 months</ion-label>
            <ion-radio slot="start" value="3 months" checked></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>6 months</ion-label>
            <ion-radio slot="start" value="6 months"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>1 year</ion-label>
            <ion-radio slot="start" value="12 months"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="card">
      <ion-label class="heading">Delivery frequency</ion-label>
      <ion-col col-12>
        <div class="key">How often do you want deliveries?</div>
      </ion-col>

      <ion-row inset radio-group [(ngModel)]="delivery_frequent">
        <ion-col col-6>
          <ion-item>
            <ion-label>Daily</ion-label>
            <ion-radio slot="start" value="daily"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>Alternate days</ion-label>
            <ion-radio slot="start" value="alternate"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>Weekdays</ion-label>
            <ion-radio slot="start" value="weekdays" checked></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>Weekends</ion-label>
            <ion-radio slot="start" value="weekends"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="card">
      <ion-label class="heading">Delivery Time(From tomorrow)</ion-label>
      <ion-col col-12>
        <div class="key">When do you want to get delivered?</div>
      </ion-col>

      <ion-row inset radio-group [(ngModel)]="delivery_time">
        <ion-col col-6>
          <ion-item>
            <ion-label>6AM - 9AM</ion-label>
            <ion-radio slot="start" value="6am-9am"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>9AM - 12PM</ion-label>
            <ion-radio slot="start" value="9am-12pm"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>12PM - 3PM</ion-label>
            <ion-radio slot="start" value="12pm-3pm"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>3PM - 6PM</ion-label>
            <ion-radio slot="start" value="3pm-6pm"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>6PM - 9PM</ion-label>
            <ion-radio slot="start" value="6pm-9pm"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col *ngIf="delivery_start_date=='other'" col-12>
          <ion-item>
            <ion-label stacked>Select custom date</ion-label>
            <ion-datetime min="{{ minDate }}" displayFormat="DD/MM/YYYY" [(ngModel)]="start_date"></ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-row>

    <ion-row class="card">
      <ion-col col-12 style="text-align: center;" (click)="subscribe()">
        <button class="button" ion-button color="primary">Proceed to subscribe</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>