page-pop-over {
  .container {
    background: rgba(0, 0, 0, 0.5) !important;

    margin-top: 70%;
    background: linear-gradient(#c7d3dc, #5b798e) !important;
    .heading {
      font-family: Roboto;
      font-size: 16px;
      line-height: 21px;
      white-space: normal;
      color: #102a47 !important;
    }
  }

  .scroll-content {
    padding: 0px !important;
  }

  .text-col {
    padding-left: 5%;
  }

  .product {
    height: 130px;
    width: 100%;
    color: white;
    background-color: #102a47 !important;
    .image {
      width: 80px;
      height: 80px;
      margin-left: 20%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    .title {
      color: rgba(255, 255, 255, 1);
      font-family: Roboto;
      font-size: 28px;
      margin-bottom: 5px;
    }
    .price {
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
    }
  }
}
