<ion-content class="container" padding>
  <div class="product">
    <ion-row style="padding-top: 20px;">
      <ion-col col-3>
        <img class="image" src="{{store.product.image}}" />
      </ion-col>
      <ion-col class="text-col" col-9>
        <div class="title">{{store.product.name}} ( 1 {{ store.product.priceby }} )</div>
        <div class="price">&#x20b9;{{store.product.price}}</div>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row class="card">
      <ion-col col-12>
        <ion-label class="heading">Review subscription details</ion-label>
      </ion-col>
      <ion-col col-6>
        <div class="value">Price per delivery</div>
      </ion-col>
      <ion-col col-6>
        <div class="value"> &#x20b9; {{ store.product.price }} ( 1 {{store.product.priceby}} )</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">Total number of deliveries</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">{{ store.quantity}}</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">Delivery frequency</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">{{ store.delivery_frequent }}</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">Start date</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">{{start_date}}</div>
      </ion-col>
      <ion-col col-6>
        <div class="value">Total</div>
      </ion-col>
      <ion-col col-6>
        <div class="value"> &#x20b9; {{ total_amount }} </div>
      </ion-col>
    </ion-row>
    <ion-row class="card">
      <ion-col col-12 style="text-align: center;" (click)="subscribeNow()">
        <button class="button" ion-button color="primary">Subscribe now</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>