<!-- <ion-menu [content]="content">
  <ion-content>
    <ion-row>
      <ion-col col-3>
        <ion-img class="circle-pic" src="https://www.ahcs.ac.uk/wp-content/uploads/2017/07/avatar.jpg"> </ion-img>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <h2>{{currentUser.name}}</h2>
          <p class="preco">{{currentUser.phoneNumber}}</p>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-list no-lin es>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{ p.title | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div class="menu-header">
      <!--material-design-background-->
      <img class="user-avatar round" src="https://www.ahcs.ac.uk/wp-content/uploads/2017/07/avatar.jpg" />
      <p class="name">{{currentUser.name}}</p>
      <p class="e-mail">{{currentUser.phoneNumber}}</p>
    </div>
    <ion-list no-lines>
      <button menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title | translate}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>