page-menu {
  #menu-material {
    .menu-header {
      padding: 5px 15px;
      background-color: #102a47 !important;
      background-size: cover;
      color: white;
      .name {
        font-weight: 500;
        margin-bottom: 3px;
      }
      .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .user-avatar {
      padding: 0.5em;
      height: 12vh;
    }
    h3,
    .label {
      color: #999;
      font-weight: 400;
    }
    ion-icon {
      color: #777;
    }
  }

  ion-icon {
    margin-right: 5px;
  }
}
